/* .example-container {
    width: 400px;
    height: 800px;
    margin: 10px;
    /* border: 1px solid #555; */
    
/* } */
/* #side-nav{
    width: 400px;
    height: 800px;
    margin: 10px;
    
} */
/* #back{
    background-color: #ffff;
    border: purple;
} */

/* .item a:hover{
    color: #800080;
} */